<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="utf-8" />
        <link rel="stylesheet" href="globals.css" />
        <link rel="stylesheet" href="styleguide.css" />
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <div class="test">
            <div class="container">
                <div class="div-wrapper"><div class="text-wrapper">18:12</div></div>
                <div class="div"><div class="text-wrapper-2">Monday, December 1</div></div>
            </div>
            <div class="dock">
                <div class="container-2">
                    <div class="app-icon">
                        <div class="icon-wrapper">
                            <div class="icon"><img class="vector" src="img/vector-3.svg" /></div>
                        </div>
                        <div class="text"><div class="text-wrapper-3">Phone</div></div>
                    </div>
                    <div class="app-icon">
                        <div class="icon-wrapper">
                            <div class="icon"><img class="img" src="img/vector-2.svg" /></div>
                        </div>
                        <div class="text-2"><div class="text-wrapper-4">Messages</div></div>
                    </div>
                    <div class="app-icon">
                        <div class="container-3">
                            <div class="icon">
                                <img class="vector-2" src="img/vector.svg" /> <img class="vector-3" src="img/vector-6.svg" />
                            </div>
                        </div>
                        <div class="text-3"><div class="text-wrapper-3">Mail</div></div>
                    </div>
                    <div class="app-icon">
                        <div class="container-4">
                            <div class="icon">
                                <img class="vector" src="img/vector-5.svg" />
                                <img class="vector-4" src="img/vector-4.svg" />
                                <img class="vector-5" src="img/image.svg" />
                            </div>
                        </div>
                        <div class="text-4"><div class="text-wrapper-3">Safari</div></div>
                    </div>
                </div>
            </div>
            <div class="container-5"></div>
            <div class="status-bar">
                <div class="container-6"><div class="text-wrapper-5">18:13</div></div>
                <img class="container-7" src="img/container.svg" />
            </div>
            <div class="container-8"></div>
            <div class="component-chinese">
                <img class="chinese" src="img/chinese-1.png" />
                <div class="text-wrapper-6">Chinese</div>
                <div class="carosel">
                    <div class="dot"></div>
                    <div class="dot-2"></div>
                    <div class="dot"></div>
                </div>
                <div class="text-wrapper-7">DinnR</div>
                <div class="mandarin">
                    <img class="image" src="img/image-14.png" />
                    <div class="text-wrapper-8">The Mandarin</div>
                </div>
                <div class="lucky">
                    <img class="image-2" src="img/image-15.png" />
                    <div class="text-wrapper-9">Lucky<br />Dragon</div>
                </div>
                <div class="panda">
                    <img class="image-3" src="img/image-16.png" />
                    <div class="text-wrapper-9">Panda<br />Express</div>
                </div>
            </div>
        </div>
    </body>
</html>
